:root {
  --font-family-mercury-display: Mercury Display A, Mercury Display B, MercuryDisplay-wb, Mercury Display, serif;
  --font-family-benton-sans: benton-sans, sans-serif;
  --font-family-mulish: mulish, sans-serif;
}
